.meetings {
  margin: 2rem 0;
  position: relative;
}

.meetings__tab {
  position: relative;
  display: flex;
  align-items: center;
}

.meetings__link-1 {
  color: rgb(0, 132, 255);
}

.meetings__link-2 {
  color: black;
}

.meeting__tab--active {
  position: relative;
  text-align: center;
  width: 18%;
  font-size: 1.6rem;
  border: 1px solid rgba(109, 108, 108, 0.3);
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  padding: 1rem 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.dummy__border {
  position: absolute;
  bottom: 0;
  width: 64%;
  right: 0;
  border-bottom: 1px solid rgba(109, 108, 108, 0.3);
}

.meetings__tab .meeting__tab--item-1 {
  width: 18%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(109, 108, 108, 0.3);
}

.meeting__search--section {
  margin: 1rem 0;
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  background-color: rgb(56, 206, 240);
}

.meeting__search--section h1 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: white;
  letter-spacing: 1.5px;
  border-bottom: 1px solid rgb(177, 176, 176);
  margin-bottom: 1rem;
}

.meeting__date {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.3rem 0;
}

.meeting__date input[type="date"],
.meeting__description textarea {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: none;
  border-radius: 2px;
  background-color: white;
}

.meeting__end-time,
.meeting__start-time,
.meeting__description {
  margin: 1rem 0;
}

.meeting__time {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  width: 20%;
}

.meeting__time input[type="number"] {
  padding: 1rem 0 1rem 1rem;
  width: 20%;
  border: none;
  border-radius: 3px;
}

.meeting__time span {
  margin: 0 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.meeting__description textarea {
  margin: 0.3rem 0;
}

.meeting__email input[type="text"] {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: none;
  border-radius: 3px;
}

.meeting__email span {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}
