.main__subheader {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: rgb(94, 94, 94);
}

.main__team--section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__team--details {
  position: relative;
  width: 32%;
  height: 40vh;
  padding: 1.5rem;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.main__team--header {
  font-size: 2rem;
  margin: 1rem 0;
}

.main__team--subheader {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.main__team--details p {
  color: rgb(88, 87, 87);
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
}

.main__team--details hr {
  margin: 1.5rem 0;
}
.team__member span {
  font-size: 1.6rem;
  margin: 1rem 0;
  display: inline-block;
}

.team__member span:first-child {
  font-weight: bold;
}

.team__footer select {
  width: 33%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.main__team--details i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: black;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

@media all and (max-width: 1000px) {
  .main__team--details {
    position: relative;
    width: 48%;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 3px;
    border: 1px solid lightgray;
  }
}

@media all and (max-width: 900px) {
  .main__team--details {
    position: relative;
    width: 100%;
    height: 30vh;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 3px;
    border: 1px solid lightgray;
  }
}
