body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  border-radius: 5px;
}

section .color {
  position: absolute;
  filter: blur(100px);
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #ff35f9;
}

section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #fffd87;
}

section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}

.box {
  margin: 1rem;

  position: relative;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.box .circle {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 90%;
  top: -10%;
  border-radius: 50%;
  backdrop-filter: blur(1px);
  background: radial-gradient(
    transparent 60%,
    rgb(255, 255, 255) 80%,
    rgba(255, 255, 255, 1)
  );
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 {
  position: relative;
  color: rgb(88, 86, 86);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}
.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 20%;
  height: 4px;
  background-color: #fff;
}

.form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: rgba(88, 86, 86, 0.7);

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  font-weight: bolder;
}

.form .inputBox input::placeholder {
  font-weight: bolder;

  color: rgba(88, 86, 86, 0.7);
}

.form .inputBox input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.form .inputBox input[type="submit"]:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.forget {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 5px;
  color: rgb(88, 86, 86);
}

.forget a {
  text-decoration: underline;
  color: rgb(88, 86, 86);

  font-weight: 600;
}

@media all and (max-width: 900px) {
  body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  section {
    overflow: hidden;
  }

  .box .square,
  .box .circle,
  .color {
    display: none;
  }
  .container {
    padding: 1rem;
  }
}
