:root {
  --primary: #d84bd8;
  --secondary: #5785e9;
  --tertiary: #2084d6;
  --dark: #050404;
  --light: #eaeaea;
}

hr {
  border: 0.1em solid rgba(211, 209, 209, 0.5);
}

.button {
  padding: 1rem 2rem;
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.button__type--danger {
  background-color: rgb(199, 26, 26);
  color: white;
}

.button__type--info {
  background-color: rgb(44, 188, 255);
  color: white;
}

.button__type--search {
  width: max-content;
  margin: 1rem 0 0;
  padding: 0.9rem;
  background-color: rgb(44, 188, 255);
  color: white;
  border: none;
  border-radius: 3px;
}

.button__type--danger {
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  letter-spacing: 0;
  width: max-content;
  font-weight: bold;
  border: none;
}

.button__type--info {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  letter-spacing: 0;
  width: max-content;
  font-weight: bold;
  border: none;
}

.meetings__link-1 {
  color: rgb(0, 132, 255);
}

.meetings__link-2 {
  color: black;
}
